@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./YouSheBiaoTiHei-2.ttf');
}

body,ul,p,h1,h2,h3,h4,h5,h6,dl,dd,form,input,textarea,select{padding:0; margin:0;font:14px/1em "宋体";}
li{
  padding: 0;
  margin: 0;
  list-style:none;
}
img{border:none;vertical-align:top;}
a{text-decoration:none;}

/* ------文字样式-------- */
/* 网页标题 */
.webpage_title {
  font-size: 42px;
  font-family: YouSheBiaoTiHei-Regular, YouSheBiaoTiHei;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 5px;
  background: linear-gradient(180deg, #E5FAFF 0%, #85E7FF 100%), linear-gradient(180deg, #FFFFFF 0%, #71B4E4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
} 
/* 主标题 */
.title {
  font-size: 20px;
  font-family: YouSheBiaoTiHei-Regular, YouSheBiaoTiHei;
  color: #5f271d;
}
/* 小标题 */
.subheading {
  font-size: 20px;
  font-family: YouSheBiaoTiHei-Regular, YouSheBiaoTiHei;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 23px;
  letter-spacing: 1px;
  text-shadow: 0px 2px 10px #1B7EF2;
}
/* 无阴影标题 */
.text_title {
  font-size: 24px;
  font-family: YouSheBiaoTiHei-Regular, YouSheBiaoTiHei;
  font-weight: 400;
  color: #410d18;
  line-height: 21px;
  &:hover{
    color: #955141;
  }
}
/* 数字 */
.number{
  font-size: 16px;
  font-family: DINPro-Bold, DINPro;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 22px;
}
/* 渐变数字 */
.gradient_number {
  font-size: 40px;
  font-family: DINPro-Black, DINPro;
  font-weight: bold;
  line-height: 40px;
  background: linear-gradient(180deg, #65E3FF 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  margin-left: 15px;
}
/* 正文标题 */
.content_title {
  font-size: 20px;
  font-family: PingFang SC-Bold, PingFang SC;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 23px;
}
/* 斜体小标题 */
.search_group {
  font-size: 24px;
  font-family: YouSheBiaoTiHei-Regular, YouSheBiaoTiHei;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: 1px;
}
/* 超出部分显示省略号 */
.p_ellipsis {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
/* 大日期数字 */
.dl_date_num {
  font-size: 18px;
  font-family: Microsoft YaHei-Bold, Microsoft YaHei;
  font-weight: bold;
  color: #2ACFE2;
  line-height: 16px;
  margin-top: -3px;
}
/* 无样式普通标题 */
.normal_title {
  font-size: 16px;
  font-family: PingFang SC-Regular, PingFang SC;
  /* font-weight: bold; */
  color: #FFFFFF;
  line-height: 24px;
}
/* 普通文字 */
.normal_word {
  font-size: 14px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255,255,255,0.6);
}
/* 首页标题 */
.index_title {
  // width: 100px;
  height: 65px;
  font-size: 50px;
  font-family: YouSheBiaoTiHei-Regular, YouSheBiaoTiHei;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 59px;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(19, 241, 255, 1);
}
/* 首页标题英文 */
.index_title_en {
  width: 49px;
  height: 18px;
  font-size: 15px;
  font-family: DIN-BlackItalicAlt-Regular, DIN-BlackItalicAlt;
  font-weight: 400;
  color: rgba(255,255,255,0.4);
  line-height: 18px;
  letter-spacing: 1px; 
  font-style: italic
}

.cup {
  cursor: pointer;
}

/* -------flex布局--------- */
.flex {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex_nowrap {
  flex-wrap: nowrap;
}
.flex_wrap {
  flex-wrap: wrap;
}

/* 分割线 */
.slice {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 410px;
  height: 0px;
  opacity: 1;
  border: 2px solid;
  border-image: radial-gradient(circle, rgba(10, 137, 255, 1), rgba(10, 137, 255, 0)) 2 2;
  /* filter: blur(undefinedpx); */
}

/* 标签tag */
.tag {
    background: rgba(22, 119, 255, 0.2500);
    height: 22px;
    border-radius: 4px;
    color: rgba(130, 255, 247, 1);
    font-size: 12px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 0 5px;
    display: inline-block;
}
/* 圆框标签tag */
.tag_circle {
    height: 22px;
    border-radius: 24px 24px 24px 24px;
    color: rgba(62, 142, 255, 1);
    border: 1px solid rgba(62, 142, 255, 1);
    font-size: 12px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 0 5px;
}
/* 方框标签tag */
.tag_square {
  width: 55px;
  height: 24px;
  background: rgba(209, 171, 85, 0.5000);
  border: 1px solid rgba(255, 229, 94, 1);
  font-size: 12px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  border-radius: 2px;
  text-align: center;
  line-height: 24px;
}
.tag_square_red {
  width: 55px;
  height: 24px;
  background: rgba(209, 107, 85, 0.50);
  border: 1px solid rgba(255, 123, 94, 1);
  font-size: 12px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  border-radius: 2px;
  text-align: center;
  line-height: 24px;
}
.tag_square_blue {
  width: 55px;
  height: 24px;
  background: rgba(100, 198, 211, 0.50);
  border: 1px solid rgba(100, 198, 211, 1);
  font-size: 12px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  border-radius: 2px;
  text-align: center;
  line-height: 24px;
}
.tag_linear {
  height: 22px;color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(180deg, #873D1D 0%, #531717 100%);
  padding: 1px 6px;
  font-size: 14px;
}
.tag_linear_red {
  margin-right: 10px;color: rgba(255, 255, 255, 0.8);
  width:auto; display:inline-block !important; display:inline;
  height: 22px;
  line-height: 22px;
  background: linear-gradient(180deg, #873D1D 0%, #531717 100%);
  padding: 1px 6px;
  font-size: 14px;
  text-align: center;
}
.tag_linear_blue {
  margin-right: 10px;color: rgba(255, 255, 255, 0.8);
  width:auto; display:inline-block !important; display:inline;
  height: 22px;
  line-height: 22px;
  background: rgba(32,73,112,0.6);
  padding: 1px 8px;
  font-size: 14px;
  text-align: center;
}
.tag_linear_green {
  margin-right: 10px;color: rgba(255, 255, 255, 0.8);
  width:auto; display:inline-block !important; display:inline;
  height: 22px;
  line-height: 22px;
  background: rgba(32,112,92,0.6);  
  padding: 1px 8px;
  font-size: 14px;
  text-align: center;
}
.tag_linear_yellow {
  margin-right: 10px;color: rgba(255, 255, 255, 0.8);
  width:auto; display:inline-block !important; display:inline;
  height: 22px;
  line-height: 22px;
  background: linear-gradient(180deg, #B08F1A 0%, #534217 100%);
  padding: 1px 8px;
  font-size: 14px;
  text-align: center;
}
.tag_linear_grey {
  margin-right: 10px;color: rgba(255, 255, 255, 0.8);
  width:auto; display:inline-block !important; display:inline;
  height: 22px;
  line-height: 22px;
  background: rgba(106,106,106,0.6);
  padding: 1px 8px;
  font-size: 14px;
  text-align: center;
}

/* 页码样式 */

/* 搜索框样式 */
.search_input_box {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px;
  background: rgba(3, 5, 6, 1);
  border: 1px solid rgba(11, 161, 179, 0.6000);
  border-radius: 4px 4px 4px 4px;
}
:deep(.el-input__wrapper) {
  width: 450px;
  height: 40px !important;
  background: rgba(3, 5, 6, 1);
  border: 0;  
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4000);
  box-shadow: 0 0 0 0 !important;
}
:deep(.el-input__inner) {
  color: rgb(208, 227, 255) !important;
  background: rgba(3, 5, 6, 1) !important;
}
.search_button {
  background: rgba(3, 5, 6, 1) !important;
  border: 0;
}

/* 标题组件右侧的文字样式 */
.title_com_right {
  color: rgba(42, 207, 226, 1);margin-top: 10px;text-align:right;min-width: 120px;
}
.title_com_right:hover {
  font-weight: bold;
}

/* 页面左上角‘返回’ */
.back_word {
  margin-top: -3px; color: rgba(199, 220, 239, 1); font-size: 14px; line-height: 30px;margin-left: 2px;
}
.back_word:hover {
  color: #fff
}
// 表格
.el-table--fit {
  background: transparent !important;
}
.el-table {
	thead,
	tbody {
		border: none;
	}
	th.el-table__cell {
		background: #fffff3;
	}

	th {
		border: none !important;
		height: 34px;
		margin: 0;
		padding: 0;
	}

	td {
		color: #5f271d;
		height: 38px !important;
	}
	.el-table__body {
		border: none;
	}
	.cell {
		line-height: 13px;
	}
	.el-table__inner-wrapper::before {
		height: 0px;
		background: #fffff3;
	}
	.el-table__expanded-cell {
		background-color: #fffff3;
	}
	.el-table__row {
		background: #fffff3 !important;
		border: none;
		.el-table__cell {
			border: none;
			background: #fffff3 !important;
		}
		&:hover {
			background: #e0eddc !important;
		}
	}
	// 斑马颜色
	.el-table__row--striped {
		background: #fffff3 !important;
		.el-table__cell {
			background: #fffff3 !important;
		}
	}
	.el-table__body .el-table__row--striped:hover {
		background-color: #fffff3 !important;
		background: #e0eddc !important;

		&::after {
			background: #adc196 !important;
			content: '';
			display: block;
			width: 100%;
			height: 34px;
			position: absolute;
			left: 0;
			border: 1px solid;
		}
		&::before {
			display: none;
		}
	}

	.el-table__body tr:hover > td {
		background-color: #adc196 !important;
	}
	.el-table__body .current-row,
	.el-table__body tr:hover {
		background-color: #adc196 !important;
		&::after {
			background: #adc196 !important;
			content: '';
			display: block;
			width: 100%;
			height: 34px;
			position: absolute;
			left: 0;
			margin-top: 1px;
			border: 1px solid;
		}
		&::before {
			display: none;
		}
	}

	.el-table__row--striped {
		border: none;
	}
}
.el-table thead tr {
	background: #adc196;
	th {
		line-height: 24px;
		color: #5f271d;
	}
}

.el-table--large .el-table__cell {
	padding: 7px 0;
	height: 30px;
}


.el-tree {
  background: transparent !important;
}
.is-expanded {
  background: transparent !important;
}
.is-current {
  background: transparent !important;
}
.is-focusable {
  background: transparent !important;
}

.el-tree-node__content {
  min-height: 34px;
  &:hover {
    background: transparent;
    color:rgba(80, 171, 166, 1) !important;
  }
}
.el-tree-node:focus>.el-tree-node__content{
  background-color: transparent;   //背景色
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
  background-color: transparent;  
}
.el-tree-node__label {
  font-size: 16px;
  font-family: YouSheBiaoTiHei-Regular, YouSheBiaoTiHei;
  font-weight: 400;
  color: #FFFFFF;
  width: 100%;
  &:hover {
    color:rgba(80, 171, 166, 1) !important;
    .normal_word {
      color:rgba(80, 171, 166, 1) !important;
    }
  }
}
.el-tree-node__expand-icon {
  color :rgba(22, 119, 255, 1) !important;
}
.el-dialog {
  background: #410d18;
}
.el-dialog__header {
  font-size: 18px;
  font-family: YouSheBiaoTiHei-Regular, YouSheBiaoTiHei;
  font-weight: 400;
  color: #f0e9e1 !important;
  line-height: 21px;
}
.el-dialog__title {
  color: #f0e9e1 !important;
}
.page_container{
  position: absolute;
  right: 20px;
}
.el-pager+button.btn-next[type=button] {
  background: transparent;
}
.el-pagination__sizes+button.btn-prev[type=button] {
  background: transparent;
}
.el-pager {
  li {
    background: transparent;
  }
  .is-active {
    color: rgba(42, 207, 226, 1) !important;
  }
}
.el-pagination__jump {
  .el-input__wrapper {
    border: 1px solid rgba(42, 207, 226, 1) !important;
    background: rgba(10, 25, 38, 1) !important;
  }
}
.el-pagination__sizes {
  .el-input__wrapper {
    border: 1px solid rgba(42, 207, 226, 1) !important;
    background: rgba(10, 25, 38, 1) !important;
    height: 30px !important;
  }
}
.el-pagination__jump {
  .el-input__wrapper {
    border: 1px solid rgba(42, 207, 226, 1) !important;
    background: rgba(10, 25, 38, 1) !important;
    height: 30px !important;
  }
}
.el-select-dropdown__wrap {
  background: #0c1e33;
  border: 1px solid rgba(42, 207, 226, 1) !important;
  box-shadow: 0 !important;
}
.el-select-dropdown__item{
  &:hover{ 
    background: rgba(10, 25, 38, 1) !important;
  }
}

.el-select-dropdown__item.selected {
  background: rgba(10, 25, 38, 1) !important;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background: rgba(10, 25, 38, 1) !important;
}

.el-tree-node__expand-icon.is-leaf {
  display: none !important;
}

.el_tree_leaf_icon {
  display: inline-block;width: 6px; height: 6px;background: rgb(22, 119, 255);border-radius: 50%;
  margin-left: 4px;margin-bottom: 2px;
}

.handleBox {
  font-size: 12px;
  color: #44765b;
}
.handleSpan {
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
  &:hover{
    color: #eff0eb;
  }
}